/* --alice-blue: #DAE4ECff;
--beau-blue: #B8CFDCff;
--blue-sapphire: #385E71ff;
--iceberg: #6BABD3ff;
--deep-saffron: #FF9A3Aff; */

.App {
  text-align: center;
}

.Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.5rem;
  background-color: black;
  color: white;
}

.Banner {
  text-align: left;
  display: flex;
  flex-direction: column;
  min-height: 20rem;
  justify-content: space-between;

}

.Banner * {
  margin: initial;
}

.banner-overlay {
  background: rgb(255, 255, 255);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, rgba(0, 212, 255, 0) 100%);
  padding: 0rem 1.5rem 1.5rem 1.5rem;
  min-height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.banner-event {
  width: 75%;
  padding-bottom: 1.5rem;
}

.banner-btn {
  max-width: 10rem;
}

.Search {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
}

.search-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.search-container,
.sort-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 1.5rem;
}

.card-deck {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 1rem 0 1rem;
}

.card {
  margin: 1rem;
  min-width: 15rem;
  max-width: 15rem;
}

.link {
  color: #61dafb;
}

.link-to {
  display: flex;
  justify-content: flex-start;
  padding: 1.5rem;
  font-size: 1.5rem;
}

.ticket-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.ticket-left {
  padding: 5rem;
  background-color: #ffd485;
  border-radius: 2rem 0em 0rem 2rem;
}

.ticket-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-inline: 1.5rem;
}

.ticket-labels {
  text-align: start;
}

.ticket-input {
  width: 100%;
}

.book-button {
  border-radius: 1rem;
  margin: 2rem 0 0 0;
}

.ticket-right {
  background-color: gainsboro;
  padding: 5rem;
  border-radius: 0rem 2rem 2rem 0;
}